[submodule "BACK-DOMROCK"]
	path = BACK-DOMROCK
	url = https://github.com/atomofatec/BACK-DOMROCK.git
	branch = main
[submodule "FRONT-DOMROCK"]
	path = FRONT-DOMROCK
	url = https://github.com/atomofatec/FRONT-DOMROCK.git
	branch = main
[submodule "DATASET-DOMROCK"]
	path = DATASET-DOMROCK
	url = https://github.com/atomofatec/DATASET-DOMROCK.git
	branch = main
